In [ ]:
#convertir datos mediante el PROCESO DE ----CASTING-----

In [7]:
#convertiremos numeros flotantes a numeros enteros
num = 3.5
type(num)

float

In [8]:
int(num)      #lo convierte a numero entero

3

In [9]:
int("Hola")

ValueError: invalid literal for int() with base 10: 'Hola'

In [10]:
num = "8"
type(num)

str

In [11]:
int(num)      #convierte un string a un int

8

In [12]:
type(num)

str

In [13]:
num= int(num)     #esto har√° que el tipo de la variable cambie
type(num)

int

In [14]:
#cambiarlo creando una nueva variable
num= "8.5"
type(num)

str

In [21]:
num3= float(num)    #convertimos a flotante y lo guardamos en una nueva variable
print(num3)
type(num3)
type(num)

str

In [22]:
#ahora convertiremos un entero a un float

num4=10
type(num4)

int

In [23]:
num5=float(num4)
type(num5)

float

In [1]:
## Convertiremos entero a string

x=10 #declaramos un entero como variable
type(x)

int

In [2]:
x=str(x)
type(x)

str

In [3]:
x1=str(x)
type(x1)

str

In [4]:
##ahora un float a string

w=3.14
type(w)

float

In [5]:
w=str(w)
type(w)

str

In [7]:
w1=str(w)
type(w1)
print(w1)

3.14

In [9]:
print(w1+"1.2")   #comprobando

3.141.2